#!/usr/bin/env python3

import sys
import urllib3

testurl = 'https://www.github.com'
agent = 'Mozilla/5.0 (X11; Linux x86_64; rv:60.0) Gecko/20100101 Firefox/60.0'
proxies = [
{% for item in proxy_servers %}
    '{{ item }}',
{% endfor %}
]

def check_proxies(proxylist, emitdirect=True):

    urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

    for proxy in proxylist:
        headers = urllib3.make_headers(accept_encoding=True, user_agent=agent)
        http = urllib3.ProxyManager(proxy, headers=headers)
        try:
            r = http.request('HEAD', testurl, retries=False)
            return(proxy)
        except urllib3.exceptions.ProxyError:
            # 407 Auth Denied
            pass
    
    if emitdirect:
        return 'DIRECT'
    else:
        return ''

if __name__ == "__main__":
    emit = False if '-q' in sys.argv else True
    proxy = check_proxies(proxies, emit)

    print(proxy)
